<p> From : {{item.sourceVillage}} to : {{item.destinationVillage}}</p>
<input value="{{item.troop1}}" class="war-task"/>
<input value="{{item.troop2}}"  class="war-task"/>
<input value="{{item.troop3}}" class="war-task"/>
<input value="{{item.troop4}}" class="war-task"/>
<input value="{{item.troop5}}" class="war-task"/>
<input value="{{item.troop6}}" class="war-task"/>
<input value="{{item.troop7}}" class="war-task"/>
<input value="{{item.troop8}}" class="war-task"/>
<input value="{{item.troop9}}" class="war-task"/>
<div *ngIf="Change">
  <input type="button" value="save">
  </div>
